<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="IOV_ConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=Tsti-IoV.database.windows.net;Initial Catalog=Tsti-IoV-DB;User ID=iovadmin;Password=Tsti70771557;Max Pool Size=10000;" />
  </connectionStrings>
  <appSettings>
    <add key="ip" value="127.0.0.1" />
    <add key="port" value="8888" />
    <add key="timedeviation" value="30" />
    <add key="exception" value="./input/exception" />
    <add key="iotHub.HostName" value="tsti-iov96b3b.azure-devices.net" />
    <add key="iotHub.ConnectionString" value="HostName=tsti-iov96b3b.azure-devices.net;SharedAccessKeyName=iothubowner;SharedAccessKey=BUvDQDO1a0sm8N61Kqqoo+amia8uK/SD5Iv6awPq6Tc=" />
    <add key="docdb.EndpointUrl" value="https://tsti-iov1d39d.documents.azure.com:443/" />
    <add key="docdb.PrimaryAuthorizationKey" value="l5koEixrrTch3lZYK6qXzkra8ICH71SPgrta8RmXt9Kmb9MXi9TPHcEEz3DJ6pDms53XnL0vu1do5xAyGaPpZg==" />
    <add key="docdb.DatabaseId" value="DevMgmtDB" />
    <add key="docdb.DocumentCollectionId" value="DevMgmtCollection" />
    <add key="eventHub.HubName" value="config:ServiceEHName" />
    <add key="eventHub.ConnectionString" value="config:ServiceSBConnectionString" />
    <add key="eventHub.StorageConnectionString" value="config:ServiceStoreAccountConnectionString" />
    <add key="device.StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=tstiiov;AccountKey=M7qtqLlLLvkr2CR4whzv4ZteE7P1d+p4VR5jrlnBHHkzruzRmARNdc1b5a8b0o9X1JSNMOdMQlfrA+a6F8SqeA==;EndpointSuffix=core.windows.net" />
    <add key="device.TableName" value="DeviceList" />
    <add key="ObjectTypePrefix" value="" />
    <add key="RulesEventHub.Name" value="config:RulesEventHubName" />
    <add key="RulesEventHub.ConnectionString" value="config:RulesEventHubConnectionString" />
    <add key="DeviceRulesStoreContainerName" value="devicerules" />
    <add key="DeviceRulesTableName" value="DeviceRulesNormalizedTable" />
    <add key="ActionMappingStoreContainerName" value="actionmappings" />
    <add key="ActionMappingStoreBlobName" value="mappings.json" />
    <add key="AsaRefDataRulesBlobName" value="devicerules.json" />
    <add key="DevicePollIntervalSeconds" value="20" />
    <add key="UseConfigForDeviceList" value="False" />
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="false" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.4.0" newVersion="8.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.Amqp" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PCLCrypto" publicKeyToken="d4421c8a4786956c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetty.Codecs" publicKeyToken="bc13ca065fa06c29" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.4.5.0" newVersion="0.4.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetty.Common" publicKeyToken="bc13ca065fa06c29" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.4.5.0" newVersion="0.4.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetty.Transport" publicKeyToken="bc13ca065fa06c29" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.4.5.0" newVersion="0.4.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetty.Buffers" publicKeyToken="bc13ca065fa06c29" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.4.5.0" newVersion="0.4.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>